In [156]:
import pandas as pd
import numpy as np

In [157]:
df = pd.read_csv("train.csv")

In [158]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [159]:
df.tail()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [160]:
df.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [161]:
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [162]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
Id               1460 non-null int64
MSSubClass       1460 non-null int64
MSZoning         1460 non-null object
LotFrontage      1201 non-null float64
LotArea          1460 non-null int64
Street           1460 non-null object
Alley            91 non-null object
LotShape         1460 non-null object
LandContour      1460 non-null object
Utilities        1460 non-null object
LotConfig        1460 non-null object
LandSlope        1460 non-null object
Neighborhood     1460 non-null object
Condition1       1460 non-null object
Condition2       1460 non-null object
BldgType         1460 non-null object
HouseStyle       1460 non-null object
OverallQual      1460 non-null int64
OverallCond      1460 non-null int64
YearBuilt        1460 non-null int64
YearRemodAdd     1460 non-null int64
RoofStyle        1460 non-null object
RoofMatl         1460 non-null object
Exterior1st      1460 non-null object
Exterior2nd      1460 non-null object
MasVnrType       1452 non-null object
MasVnrArea       1452 non-null float64
ExterQual        1460 non-null object
ExterCond        1460 non-null object
Foundation       1460 non-null object
BsmtQual         1423 non-null object
BsmtCond         1423 non-null object
BsmtExposure     1422 non-null object
BsmtFinType1     1423 non-null object
BsmtFinSF1       1460 non-null int64
BsmtFinType2     1422 non-null object
BsmtFinSF2       1460 non-null int64
BsmtUnfSF        1460 non-null int64
TotalBsmtSF      1460 non-null int64
Heating          1460 non-null object
HeatingQC        1460 non-null object
CentralAir       1460 non-null object
Electrical       1459 non-null object
1stFlrSF         1460 non-null int64
2ndFlrSF         1460 non-null int64
LowQualFinSF     1460 non-null int64
GrLivArea        1460 non-null int64
BsmtFullBath     1460 non-null int64
BsmtHalfBath     1460 non-null int64
FullBath         1460 non-null int64
HalfBath         1460 non-null int64
BedroomAbvGr     1460 non-null int64
KitchenAbvGr     1460 non-null int64
KitchenQual      1460 non-null object
TotRmsAbvGrd     1460 non-null int64
Functional       1460 non-null object
Fireplaces       1460 non-null int64
FireplaceQu      770 non-null object
GarageType       1379 non-null object
GarageYrBlt      1379 non-null float64
GarageFinish     1379 non-null object
GarageCars       1460 non-null int64
GarageArea       1460 non-null int64
GarageQual       1379 non-null object
GarageCond       1379 non-null object
PavedDrive       1460 non-null object
WoodDeckSF       1460 non-null int64
OpenPorchSF      1460 non-null int64
EnclosedPorch    1460 non-null int64
3SsnPorch        1460 non-null int64
ScreenPorch      1460 non-null int64
PoolArea         1460 non-null int64
PoolQC           7 non-null object
Fence            281 non-null object
MiscFeature      54 non-null object
MiscVal          1460 non-null int64
MoSold           1460 non-null int64
YrSold           1460 non-null int64
SaleType         1460 non-null object
SaleCondition    1460 non-null object
SalePrice        1460 non-null int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [163]:
Index = df['Id']

In [165]:
df.drop(['Id','Electrical'] ,axis=1 ,inplace=True)

In [166]:
df.isna().sum()

MSSubClass          0
MSZoning            0
LotFrontage       259
LotArea             0
Street              0
Alley            1369
LotShape            0
LandContour         0
Utilities           0
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
OverallQual         0
OverallCond         0
YearBuilt           0
YearRemodAdd        0
RoofStyle           0
RoofMatl            0
Exterior1st         0
Exterior2nd         0
MasVnrType          8
MasVnrArea          8
ExterQual           0
ExterCond           0
Foundation          0
BsmtQual           37
                 ...
BedroomAbvGr        0
KitchenAbvGr        0
KitchenQual         0
TotRmsAbvGrd        0
Functional          0
Fireplaces          0
FireplaceQu       690
GarageType         81
GarageYrBlt        81
GarageFinish       81
GarageCars          0
GarageArea          0
GarageQual         81
GarageCond         81
PavedDrive          0
WoodDeckSF          0
OpenPorchSF         0
EnclosedPorch       0
3SsnPorch           0
ScreenPorch         0
PoolArea            0
PoolQC           1453
Fence            1179
MiscFeature      1406
MiscVal             0
MoSold              0
YrSold              0
SaleType            0
SaleCondition       0
SalePrice           0
Length: 79, dtype: int64

In [167]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [168]:
df.head(10)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
7,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
8,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
9,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000

In [169]:
df.fillna(value= 0 ,inplace=True)

In [170]:
df.isna().sum()

MSSubClass       0
MSZoning         0
LotFrontage      0
LotArea          0
Street           0
Alley            0
LotShape         0
LandContour      0
Utilities        0
LotConfig        0
LandSlope        0
Neighborhood     0
Condition1       0
Condition2       0
BldgType         0
HouseStyle       0
OverallQual      0
OverallCond      0
YearBuilt        0
YearRemodAdd     0
RoofStyle        0
RoofMatl         0
Exterior1st      0
Exterior2nd      0
MasVnrType       0
MasVnrArea       0
ExterQual        0
ExterCond        0
Foundation       0
BsmtQual         0
                ..
BedroomAbvGr     0
KitchenAbvGr     0
KitchenQual      0
TotRmsAbvGrd     0
Functional       0
Fireplaces       0
FireplaceQu      0
GarageType       0
GarageYrBlt      0
GarageFinish     0
GarageCars       0
GarageArea       0
GarageQual       0
GarageCond       0
PavedDrive       0
WoodDeckSF       0
OpenPorchSF      0
EnclosedPorch    0
3SsnPorch        0
ScreenPorch      0
PoolArea         0
PoolQC           0
Fence            0
MiscFeature      0
MiscVal          0
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
SalePrice        0
Length: 79, dtype: int64

### converting into Label Encoder

In [171]:
for i in df.columns:
    if(df[i].dtype== 'object'):
        df[i] = le.fit_transform(df[i].astype(str))

df['MSZoning'] = le.fit_transform(df['MSZoning'])
df['Alley'] = le.fit_transform(df['Alley'])
df['Street'] = le.fit_transform(df['Street'])

df['LotShape'] = le.fit_transform(df['LotShape'])
df['LandContour'] = le.fit_transform(df['LandContour'])
df['Utilities']= le.fit_transform(df['Utilities'])
df['LotConfig'] = le.fit_transform(df['LotConfig'])
df['LandSlope'] =le.fit_transform(df['LandSlope'])
df['Neighborhood'] =le.fit_transform(df['Neighborhood']
df['Condition1'] = le.fit_transform(df['Condition1'])
df['Condition2'] = le.fit_transform(df['Condition2'])
df['BldgType'] = le.fit_transform(df['BldgType'])
df['HouseStyle'] = le.fit_transform(df['HouseStyle'])
df['RoofStyle'] = le.fit_transform(df['RoofStyle'])
df['RoofMatl'] = le.fit_transform(df['RoofMatl'])
df['Exterior1st'] = le.fit_transform(df['Exterior1st'])
df['Exterior2nd'] = le.fit_transform(df['Exterior2nd'])
            
df['MasVnrType'] =le.fit_transform(df[''])

In [172]:
df.head(10)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,3,65.0,8450,1,0,3,3,0,4,...,0,0,0,0,0,2,2008,8,4,208500
1,20,3,80.0,9600,1,0,3,3,0,2,...,0,0,0,0,0,5,2007,8,4,181500
2,60,3,68.0,11250,1,0,0,3,0,4,...,0,0,0,0,0,9,2008,8,4,223500
3,70,3,60.0,9550,1,0,0,3,0,0,...,0,0,0,0,0,2,2006,8,0,140000
4,60,3,84.0,14260,1,0,0,3,0,2,...,0,0,0,0,0,12,2008,8,4,250000
5,50,3,85.0,14115,1,0,0,3,0,4,...,0,0,3,3,700,10,2009,8,4,143000
6,20,3,75.0,10084,1,0,3,3,0,4,...,0,0,0,0,0,8,2007,8,4,307000
7,60,3,0.0,10382,1,0,0,3,0,0,...,0,0,0,3,350,11,2009,8,4,200000
8,50,4,51.0,6120,1,0,3,3,0,4,...,0,0,0,0,0,4,2008,8,0,129900
9,190,3,50.0,7420,1,0,3,3,0,0,...,0,0,0,0,0,1,2008,8,4,118000

In [173]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 79 columns):
MSSubClass       1460 non-null int64
MSZoning         1460 non-null int32
LotFrontage      1460 non-null float64
LotArea          1460 non-null int64
Street           1460 non-null int32
Alley            1460 non-null int32
LotShape         1460 non-null int32
LandContour      1460 non-null int32
Utilities        1460 non-null int32
LotConfig        1460 non-null int32
LandSlope        1460 non-null int32
Neighborhood     1460 non-null int32
Condition1       1460 non-null int32
Condition2       1460 non-null int32
BldgType         1460 non-null int32
HouseStyle       1460 non-null int32
OverallQual      1460 non-null int64
OverallCond      1460 non-null int64
YearBuilt        1460 non-null int64
YearRemodAdd     1460 non-null int64
RoofStyle        1460 non-null int32
RoofMatl         1460 non-null int32
Exterior1st      1460 non-null int32
Exterior2nd      1460 non-null int32
MasVnrType       1460 non-null int32
MasVnrArea       1460 non-null float64
ExterQual        1460 non-null int32
ExterCond        1460 non-null int32
Foundation       1460 non-null int32
BsmtQual         1460 non-null int32
BsmtCond         1460 non-null int32
BsmtExposure     1460 non-null int32
BsmtFinType1     1460 non-null int32
BsmtFinSF1       1460 non-null int64
BsmtFinType2     1460 non-null int32
BsmtFinSF2       1460 non-null int64
BsmtUnfSF        1460 non-null int64
TotalBsmtSF      1460 non-null int64
Heating          1460 non-null int32
HeatingQC        1460 non-null int32
CentralAir       1460 non-null int32
1stFlrSF         1460 non-null int64
2ndFlrSF         1460 non-null int64
LowQualFinSF     1460 non-null int64
GrLivArea        1460 non-null int64
BsmtFullBath     1460 non-null int64
BsmtHalfBath     1460 non-null int64
FullBath         1460 non-null int64
HalfBath         1460 non-null int64
BedroomAbvGr     1460 non-null int64
KitchenAbvGr     1460 non-null int64
KitchenQual      1460 non-null int32
TotRmsAbvGrd     1460 non-null int64
Functional       1460 non-null int32
Fireplaces       1460 non-null int64
FireplaceQu      1460 non-null int32
GarageType       1460 non-null int32
GarageYrBlt      1460 non-null float64
GarageFinish     1460 non-null int32
GarageCars       1460 non-null int64
GarageArea       1460 non-null int64
GarageQual       1460 non-null int32
GarageCond       1460 non-null int32
PavedDrive       1460 non-null int32
WoodDeckSF       1460 non-null int64
OpenPorchSF      1460 non-null int64
EnclosedPorch    1460 non-null int64
3SsnPorch        1460 non-null int64
ScreenPorch      1460 non-null int64
PoolArea         1460 non-null int64
PoolQC           1460 non-null int32
Fence            1460 non-null int32
MiscFeature      1460 non-null int32
MiscVal          1460 non-null int64
MoSold           1460 non-null int64
YrSold           1460 non-null int64
SaleType         1460 non-null int32
SaleCondition    1460 non-null int32
SalePrice        1460 non-null int64
dtypes: float64(3), int32(42), int64(34)
memory usage: 661.6 KB

In [174]:
for i in df.columns:
    if(df[i].isnull().sum()==0):
        print(f' {i} : {df[i].isnull().sum()}' )

 MSSubClass : 0
 MSZoning : 0
 LotFrontage : 0
 LotArea : 0
 Street : 0
 Alley : 0
 LotShape : 0
 LandContour : 0
 Utilities : 0
 LotConfig : 0
 LandSlope : 0
 Neighborhood : 0
 Condition1 : 0
 Condition2 : 0
 BldgType : 0
 HouseStyle : 0
 OverallQual : 0
 OverallCond : 0
 YearBuilt : 0
 YearRemodAdd : 0
 RoofStyle : 0
 RoofMatl : 0
 Exterior1st : 0
 Exterior2nd : 0
 MasVnrType : 0
 MasVnrArea : 0
 ExterQual : 0
 ExterCond : 0
 Foundation : 0
 BsmtQual : 0
 BsmtCond : 0
 BsmtExposure : 0
 BsmtFinType1 : 0
 BsmtFinSF1 : 0
 BsmtFinType2 : 0
 BsmtFinSF2 : 0
 BsmtUnfSF : 0
 TotalBsmtSF : 0
 Heating : 0
 HeatingQC : 0
 CentralAir : 0
 1stFlrSF : 0
 2ndFlrSF : 0
 LowQualFinSF : 0
 GrLivArea : 0
 BsmtFullBath : 0
 BsmtHalfBath : 0
 FullBath : 0
 HalfBath : 0
 BedroomAbvGr : 0
 KitchenAbvGr : 0
 KitchenQual : 0
 TotRmsAbvGrd : 0
 Functional : 0
 Fireplaces : 0
 FireplaceQu : 0
 GarageType : 0
 GarageYrBlt : 0
 GarageFinish : 0
 GarageCars : 0
 GarageArea : 0
 GarageQual : 0
 GarageCond : 0
 PavedDrive : 0
 WoodDeckSF : 0
 OpenPorchSF : 0
 EnclosedPorch : 0
 3SsnPorch : 0
 ScreenPorch : 0
 PoolArea : 0
 PoolQC : 0
 Fence : 0
 MiscFeature : 0
 MiscVal : 0
 MoSold : 0
 YrSold : 0
 SaleType : 0
 SaleCondition : 0
 SalePrice : 0

In [175]:
df.shape

(1460, 79)

## Test Data

In [176]:
test = pd.read_csv("test.csv")

In [177]:
test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [178]:
test.shape

(1459, 80)

In [179]:
test_index = test['Id']

In [180]:
test.drop(['Id','Electrical'] , axis=1,inplace =True)

In [181]:
test.shape

(1459, 78)

In [182]:
test.isnull().sum()

MSSubClass          0
MSZoning            4
LotFrontage       227
LotArea             0
Street              0
Alley            1352
LotShape            0
LandContour         0
Utilities           2
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
OverallQual         0
OverallCond         0
YearBuilt           0
YearRemodAdd        0
RoofStyle           0
RoofMatl            0
Exterior1st         1
Exterior2nd         1
MasVnrType         16
MasVnrArea         15
ExterQual           0
ExterCond           0
Foundation          0
BsmtQual           44
                 ...
HalfBath            0
BedroomAbvGr        0
KitchenAbvGr        0
KitchenQual         1
TotRmsAbvGrd        0
Functional          2
Fireplaces          0
FireplaceQu       730
GarageType         76
GarageYrBlt        78
GarageFinish       78
GarageCars          1
GarageArea          1
GarageQual         78
GarageCond         78
PavedDrive          0
WoodDeckSF          0
OpenPorchSF         0
EnclosedPorch       0
3SsnPorch           0
ScreenPorch         0
PoolArea            0
PoolQC           1456
Fence            1169
MiscFeature      1408
MiscVal             0
MoSold              0
YrSold              0
SaleType            1
SaleCondition       0
Length: 78, dtype: int64

In [183]:
test.fillna(value = 0 , inplace =True)

In [184]:
for i in test.columns:
    if(test[i].dtype== 'object'):
        test[i] = le.fit_transform(test[i].astype(str))

In [185]:
test.head(10)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,20,3,80.0,11622,1,0,3,3,1,4,...,120,0,0,3,0,0,6,2010,9,4
1,20,4,81.0,14267,1,0,0,3,1,0,...,0,0,0,0,1,12500,6,2010,9,4
2,60,4,74.0,13830,1,0,0,3,1,4,...,0,0,0,3,0,0,3,2010,9,4
3,60,4,78.0,9978,1,0,0,3,1,4,...,0,0,0,0,0,0,6,2010,9,4
4,120,4,43.0,5005,1,0,0,1,1,4,...,144,0,0,0,0,0,1,2010,9,4
5,60,4,75.0,10000,1,0,0,3,1,0,...,0,0,0,0,0,0,4,2010,9,4
6,20,4,0.0,7980,1,0,0,3,1,4,...,0,0,0,1,3,500,3,2010,9,4
7,60,4,63.0,8402,1,0,0,3,1,4,...,0,0,0,0,0,0,5,2010,9,4
8,20,4,85.0,10176,1,0,3,3,1,4,...,0,0,0,0,0,0,2,2010,9,4
9,20,4,70.0,8400,1,0,3,3,1,0,...,0,0,0,3,0,0,4,2010,9,4

In [186]:
test.shape

(1459, 78)

In [187]:
df.shape

(1460, 79)

# Applying Algo

In [188]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
lr1 = LogisticRegression()
lr = LinearRegression()

In [189]:
x = df.drop(['SalePrice'] , axis =1)
y = df['SalePrice']

In [190]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y ,test_size =0.001 )

In [191]:
xtrain.shape

(1458, 78)

In [192]:
lr.fit(xtrain,ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [193]:
lr.score(xtest,ytest)

-20.956850567197424

## Ada Boosting Algorithm

In [194]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeClassifier()
dtr = DecisionTreeRegressor()

In [195]:
dtr.fit(xtrain,ytrain)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [196]:
dtr.score(xtest,ytest)

-8.497777777777777

In [197]:
clf = AdaBoostRegressor(n_estimators =1100, learning_rate=1, base_estimator=dtr )

In [198]:
clf.fit(xtrain,ytrain)

AdaBoostRegressor(base_estimator=DecisionTreeRegressor(criterion='mse',
                                                       max_depth=None,
                                                       max_features=None,
                                                       max_leaf_nodes=None,
                                                       min_impurity_decrease=0.0,
                                                       min_impurity_split=None,
                                                       min_samples_leaf=1,
                                                       min_samples_split=2,
                                                       min_weight_fraction_leaf=0.0,
                                                       presort=False,
                                                       random_state=None,
                                                       splitter='best'),
                  learning_rate=1, loss='linear', n_estimators=1100,
                  random_state=None)

In [199]:
sales = clf.predict(test)
sales

array([128500., 152000., 181000., ..., 157000., 115000., 225000.])

In [200]:
df1=pd.DataFrame({'Id':test_index})

In [201]:
df1.head(10)

     Id
0  1461
1  1462
2  1463
3  1464
4  1465
5  1466
6  1467
7  1468
8  1469
9  1470

In [202]:
df1['SalePrice'] = sales

In [203]:
df1.head(10)

     Id  SalePrice
0  1461   128500.0
1  1462   152000.0
2  1463   181000.0
3  1464   183200.0
4  1465   190000.0
5  1466   178900.0
6  1467   165500.0
7  1468   172785.0
8  1469   179200.0
9  1470   128000.0

In [204]:
df1.to_csv('Sample Train1.csv')